body {
    margin: 0;
}

.tester {
    background-color: pink;
}

.homepage {
    background-image: url("/img/background.png");
}

.navbar {
    margin-bottom: 0px;
    text-align: center;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}

.nav-text {
    font-size: 18pt;
}

.featurette-divider {
    margin: 0;
}

.brow_gals {
    background-image: url("/img/browgal_background.png");
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: 'Yellowtail', cursive;

}

.location_segment {
    /*background-color: #efefef;*/
    padding-top: 20px;
    padding-bottom: 40px;
    background-image: url("/img/landing_background.png");

}

.reviews_segment {
    padding-top: 20px;
    padding-bottom: 40px;

}

#instagram {
    width: 40px;
    height: 40px;
    margin-top: 30px;
}

#facebook {
    width: 35px;
    height: 35px;
    margin-top: 32px;
}

.header {
    background-image: url("/img/topperbackground.png");
}

#home_img {
    height: 400px;
    width: 700px;
}

#header_img {
    height: 100px;
    width: 350px;

}

#reviews_btn {
    margin-top: 30px;
}

.landing_background {
    background-image: url("/img/landing_background.png");
    padding-top: 20px;
    padding-bottom: 40px;
}

.reviews_heading {
    font-family: 'Yellowtail', cursive;
}

.location_header {
    font-family: 'Yellowtail', cursive;
}

.book_now {
    color: orange;
}

.footer li {
    list-style-type: none;
    display: inline-block;
    color: white;
    padding: 1.5rem;
}

.footer {
    background-color: #edc3c1;
}

.about_me {
    padding-top: 30px;
}

.quote {
    font-style: italic;
}

#edric_logo {
    width: 150px;
    height: 60px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.foot_text {
    color: white;
}
